---
name: JavaScript Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      issues: write
      pull-requests: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'

      - name: Cache node modules
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: node_modules
          key: npm-node_modules-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Run npm install
        run: |
          npm install --ignore-engines

      - name: Run npm run test
        run: |
          npm run test:coverage

      - name: Report coverage to GitHub
        uses: k1LoW/octocov-action@73d561f65d59e66899ed5c87e4621a913b5d5c20 # v1.5.0
        with:
          config: .octocov.vitest.yml
        if: github.event_name == 'pull_request'
